<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.src.findreplace</string>
	<key>category</key>
	<string>Utilities</string>
	<key>connections</key>
	<dict>
		<key>012490FD-2E38-45AC-AB36-F98437F24702</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3CD594E3-F963-4266-AD8E-54E9B2EE764B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3CD594E3-F963-4266-AD8E-54E9B2EE764B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>814597AB-D607-4191-91C5-0FDCF8BCCE5B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5AD44F01-70EA-4EEB-9440-ED780043D3D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7240069-290F-4F2D-922C-0787118D2A0C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6374D473-984E-451D-B4BF-E82205D2BB5A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>800AA851-2901-442D-867B-59ADC94B2B66</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>814597AB-D607-4191-91C5-0FDCF8BCCE5B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF0FA393-7FFC-428D-84D9-597A093B5139</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>36FC9228-C72D-4C73-A390-8B25FF8E7B07</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DAB57143-C244-44ED-9F30-FE017B0B78F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AA296D22-C024-41F2-9C17-4B4765629067</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>012490FD-2E38-45AC-AB36-F98437F24702</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D00B8638-C0C4-4CB9-A112-31549B12C5EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6374D473-984E-451D-B4BF-E82205D2BB5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D82EEFBB-46A7-4E08-A855-87D7D0FF51FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA296D22-C024-41F2-9C17-4B4765629067</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF0FA393-7FFC-428D-84D9-597A093B5139</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5AD44F01-70EA-4EEB-9440-ED780043D3D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7240069-290F-4F2D-922C-0787118D2A0C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D00B8638-C0C4-4CB9-A112-31549B12C5EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stephen Christy</string>
	<key>description</key>
	<string>Single find &amp; replace in clipboard text</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Find and replace in clipboard text</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E7240069-290F-4F2D-922C-0787118D2A0C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>2fr</string>
				<key>subtext</key>
				<string>Replace "{var:find}" with what?</string>
				<key>text</key>
				<string>Replace?</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>012490FD-2E38-45AC-AB36-F98437F24702</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>fr</string>
				<key>subtext</key>
				<string>What text do you want to FIND?</string>
				<key>text</key>
				<string>Text - Find &amp; Replace</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D82EEFBB-46A7-4E08-A855-87D7D0FF51FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>800AA851-2901-442D-867B-59ADC94B2B66</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>{var:folderForTempFile}/temp.txt</string>
				<key>filetext</key>
				<string>{var:revisedText}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>6374D473-984E-451D-B4BF-E82205D2BB5A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Close</string>
				<key>button2</key>
				<string>Open in a text file</string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>"{var:find}" has been replaced by "{var:replace}" on the clipboard.</string>
				<key>title</key>
				<string>Find and replace</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>D00B8638-C0C4-4CB9-A112-31549B12C5EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>revisedText</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5AD44F01-70EA-4EEB-9440-ED780043D3D3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>{var:find}</string>
				<key>replacestring</key>
				<string>{var:replace}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>DF0FA393-7FFC-428D-84D9-597A093B5139</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>{var:find}</string>
						<key>outputlabel</key>
						<string>OK</string>
						<key>uid</key>
						<string>36FC9228-C72D-4C73-A390-8B25FF8E7B07</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Error</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>814597AB-D607-4191-91C5-0FDCF8BCCE5B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>find</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AA296D22-C024-41F2-9C17-4B4765629067</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{clipboard}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>replace</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3CD594E3-F963-4266-AD8E-54E9B2EE764B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Close</string>
				<key>button2</key>
				<string></string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>"{var:find}" was not found in the text on the clipboard. Note the search is case sensitive.</string>
				<key>title</key>
				<string>{var:find} not found</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>DAB57143-C244-44ED-9F30-FE017B0B78F7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># About

This workflow takes the text on the clipboard and enables a single find and replace on elements of that text. You have the option of posting the revised clipboard text to the file `~/Downloads/tmp.txt` and if you choose that option the file will then be opened (enabling you, if you wish, to see a spellcheck on the relevant text).

Note:
- When configuring this workflow you have the option to specify another folder to receive the temporary file. The default is `~/Downloads`.
- It's up to you to delete the temporary file after you have finished with it—although the workflow will automatically overwrite it next time you use the workflow if you don't delete the file.
- The *Find* is *case sensitive* so take care to ensure the case is correct when searching for something.

# Usage

1. Copy to the clipboard the text on which you wish to work *before* you run this workflow.
2. Type `fr` (for Find Replace) plus &lt;space&gt; and the word or phrase you wish to find in the clipboard text. Press &lt;Enter&gt;.
3. Type the word or phrase which you wish to *replace* the original word or phrase. (You'll see the original word or phrase in the sub-text of the prompt.)
4. If the *Find* then fails to find the relevant word or phrase among the clipboard text you will then see an error message warning you of that.
5. If the find and replace operation is successful you will see a dialog confirming that. You can then either close that dialog (so ending the workflow—though leaving the revised text on the clipboard) or choose to write the revised clipboard text to the file mentioned under `About` above.</string>
	<key>uidata</key>
	<dict>
		<key>012490FD-2E38-45AC-AB36-F98437F24702</key>
		<dict>
			<key>note</key>
			<string>Now give the word with which you wish to replace it</string>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>3CD594E3-F963-4266-AD8E-54E9B2EE764B</key>
		<dict>
			<key>note</key>
			<string>Store that in a variable</string>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>5AD44F01-70EA-4EEB-9440-ED780043D3D3</key>
		<dict>
			<key>note</key>
			<string>Store variable for revised text</string>
			<key>xpos</key>
			<real>865</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>6374D473-984E-451D-B4BF-E82205D2BB5A</key>
		<dict>
			<key>note</key>
			<string>Create tmp.txt in specified folder (overwriting if necessary)</string>
			<key>xpos</key>
			<real>1275</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>800AA851-2901-442D-867B-59ADC94B2B66</key>
		<dict>
			<key>note</key>
			<string>Open the tmp.txt file for spellcheck, etc.</string>
			<key>xpos</key>
			<real>1435</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>814597AB-D607-4191-91C5-0FDCF8BCCE5B</key>
		<dict>
			<key>note</key>
			<string>Check for failed find</string>
			<key>xpos</key>
			<real>602</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>AA296D22-C024-41F2-9C17-4B4765629067</key>
		<dict>
			<key>note</key>
			<string>Store that in a variable</string>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>D00B8638-C0C4-4CB9-A112-31549B12C5EE</key>
		<dict>
			<key>note</key>
			<string>Option to quit or copy amended text file</string>
			<key>xpos</key>
			<real>1125</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>D82EEFBB-46A7-4E08-A855-87D7D0FF51FC</key>
		<dict>
			<key>note</key>
			<string>First give the word you want to find</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>DAB57143-C244-44ED-9F30-FE017B0B78F7</key>
		<dict>
			<key>note</key>
			<string>Helpful error message</string>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>DF0FA393-7FFC-428D-84D9-597A093B5139</key>
		<dict>
			<key>note</key>
			<string>Run find &amp; replace on clipboard text</string>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>E7240069-290F-4F2D-922C-0787118D2A0C</key>
		<dict>
			<key>note</key>
			<string>Copy the revised text to the clipboard</string>
			<key>xpos</key>
			<real>955</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Downloads</string>
				<key>placeholder</key>
				<string>~/Downloads</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>This is the folder where the workflow will write the file at the end if you choose that option. You can change the folder here.</string>
			<key>label</key>
			<string>The folder for the temp file</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>varfolderForTempFile</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The default keyword to run this workflow is "fr". You can change it here.</string>
			<key>label</key>
			<string>Workflow keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string></string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
